*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary colors */

  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /* Neutral colors */

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --blue: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-100);
  /* padding: 1.25rem 0; */
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  min-height: 100svh;
  /* padding-bottom: 1.5rem; */
}

main.container {
  flex: 1;
  /* display: grid; */
  align-content: center;
  padding: 2rem 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.profile {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile img {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h3 {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
}

.profile-info p {
  font-size: 0.6875rem;
  opacity: 0.5;
}

.container {
  display: grid;
  gap: 1.25rem;
  width: 85%;
  max-width: 1110px;
  margin: 0 auto;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 25px 25px 50px -10px rgba(0, 0, 0, 0.1);
}

.card-daniel {
  background-color: var(--purple-500);
  color: var(--white);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 15%;
  position: relative;
}

.card-daniel .profile img {
  border: 2px solid var(--purple-300);
}

.card-jonathan {
  background-color: var(--grey-500);
  color: var(--white);
}

.card-jonathan .profile img {
  border: 2px solid var(--grey-400);
}

.card-jeanette {
  background-color: var(--white);
  color: var(--black);
}

.card-jeanette .profile img,
.card-kira .profile img {
  border: 2px solid var(--grey-200);
}

.card-patrick {
  background-color: var(--dark-blue);
  color: white;
}

.card-patrick .profile img {
  border: 2px solid var(--grey-400);
}

.card-kira {
  background-color: var(--white);
  color: var(--black);
}

.testimonial-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-block: 1rem;
  line-height: 1.2;
}

.testimonial-body {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.7;
  quotes: "“" "”";
}

.testimonial-body::before {
  content: open-quote;
}

.testimonial-body::after {
  content: close-quote;
}

.card-jeanette .testimonial-body,
.card-kira .testimonial-body {
  color: var(--grey-400);
  opacity: 1;
}

.card-daniel .testimonial-body::before,
.card-patrick .testimonial-body::before,
.card-jonathan .testimonial-body::before {
  color: var(--purple-300);
}

footer {
  padding: 1rem 0;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--blue);
  text-decoration: none;
  border-radius: 2px;
  padding: 2px;
}

.attribution a:focus-visible {
  outline: 2px dashed var(--purple-500);
  outline-offset: 3px;
  background-color: var(--purple-50);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }

  .card-daniel {
    grid-area: daniel;
  }

  .card-jonathan {
    grid-area: jonathan;
  }

  .card-jeanette {
    grid-area: jeanette;
  }

  .card-patrick {
    grid-area: patrick;
  }

  .card-kira {
    grid-area: kira;
  }
}
